// media

@media (max-width: 1300px){
    .center{
        padding-left: 8%;
        padding-right: 8%;
    }
    .games{
        a{
            width:  400px;
        }
    }

    .one{
        flex-direction: column;
    }

    .two{
        flex-direction: column-reverse;
    }
}


@media (max-width: 830px){

    htmL{
        font-size: 14px;
    }

    .games{
        a{
            width:  500px;
            p{
                display: block;
            }
        }
    }

    .one{
        min-height: auto;

        &__left{
            width: 80%;
        }

        &__right{
            width: 80%;
        }
    }

    .two{
        min-height: auto;

        &__left{
            width: 80%;
        }

        &__right{
            width: 80%;
        }
    }
}

@media (max-width: 500px ){
    htmL{
        font-size: 12px;
    }
    

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;

        &__title{
            text-align: center;
            font-size: 3rem;
        }

        &__text{
            text-align: center;
        }
    }

    .games{
        a{
            width: 100%;
        }
    }

    .one{
        padding-top: 5rem;
    }

    .two{
        padding-top: 5rem;
    }
}

@media (max-width: 320px ){
    htmL{
        font-size: 10px;
    }
}