.btn{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    background: #9C0332;
    border-radius: 30px;
    padding: 0.8125rem 4.625rem;
    transition: background-color .5s;
    &:hover{
      background-color: #4f0213;
      cursor: pointer;
    }
}